<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FEM_AngTodo</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="ngTodo"><!-- Add directive of app name(same as Ctrl to the body. Add the ng-app to where you want Angular to effect. This case, the full body has power... in diff case you can add only to DIV if desired)-->
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="#">ng-todo</a>
      <a class="navbar-right navbar-img" href="#"><img src="img/AngularJS.png" alt=""></a>
    </div>
  </div>

  <section ng-controller="ngTodoCtrl"><!--Add relevent ctrlR, CtrlR only has scope in this section. Find OTHER ways to share if desired -->
    <div class="outer-container">

      <div class="add-todo-group input-group input-group-lg">
        <span class="input-group-addon">
          <i class="glyphicon glyphicon-list-alt"></i>
        </span>
        <input ng-model="newTask" placeholder="New Todo" class="form-control" type="text">
         <!-- Adding a ng-model with property called newTask. NOw when I refer to 'newTask' in my {{ }} syntax it will know what I am referrign to. 2-Way Binding-->
    
        <span class="input-group-btn">
          <button class="btn btn-success" ng-click="addNewTask()" type="button"><!--Added ng-click directive, now 'on click' this will run the "addNewTask" Function I created in controller -->
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </span>
      </div>

      <div ng-repeat="todo in todos" class="input-group input-group-lg"><!--repeat the todo in the 'todos' var -->
        <span class="input-group-addon">
          <input ng-model="todo.completed"type="checkbox"> <!-- model -->
        </span>
        <input ng-model="todo.val" ng-class="{finished: todo.completed}" class="form-control" type="text"><!-- model / class  -->
        <span class="input-group-btn">
          <button ng-click="todos.splice($index,1)" class="btn btn-danger" type="button"><!-- Added REMOVE function to 'X' click. Better to add this power to not on template but controller maybe. $index is whereever you are in the todo-->
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </span>
      </div>

      <div class="btn-clear-group">
        <button ng-click="clearCompleted()" class="btn btn-primary btn-clear">Clear Completed</button><!-- click -->
      </div>
    </div>
  </section>
</body>

<!-- JS Assets -->
<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/filters.js"></script>
<script src="js/directives.js"></script>
<script src="js/ngTodoCtrl.js"></script>
</html>
