<div ng-controller="chap2Ctrl">
        <h1>{{title}}</h1>

        <p>{{message}}</p>

    </div>

    <section id="content2">
    	<p> When something dies, it decays. Insects, wild animals, and bacteris eat parts of the body. <br> A mummy is a dead body that doesn't decay. A mummy can be made in two ways. People can use bacteria-killing chemicals to make mummies. <br> Or, if a body is in the right place at the right time, ut can also become a mummy naturally. In those places, any dead body might become a mummy!</p>
    </section>


