<div ng-controller="chap3Ctrl">
        <h1>{{title}}</h1>
        <p>{{message}}</p>
</div>

 	<p id="content3">Body-eating bacteria do not grow well in places that are very cold. Or in places that are hot and dry. Or in places called bogs. People have found mummies on frosty mountaintops and in hot deserts.<br> Bogs are wet, swamp-like places. Bog mummies can be so well kept that scientist could tell one ancient man used hair gel!</p>
		</p>

	<div id="Q1">
		<p>What do you call a mummy who eats cookies in bed?</p>
	</div>

	<div id-"A1">
		<p>A crumby mummy</p>
	</div>

<p id="WordWrap1">
	BOGS: Swampy areas where special mosses grow. The plants make the area a tough place for bacteria to live.
	</p>

	<p id="TollundMan">The man's face looks like he's sleeping. But he didn't die peacefully.<br> This bog mummy in Denmark was found with a rope around his neck. Experts think the man was killed as part of a religious ceremony. The bits of his last meal, vegatable soup eaten 2,300 years ago, are still in his stomach.
	</p>
	
	<p>In 1991, two hikers found a man frozen in the mountains between Italy and Austria. A 5,300-year-old murder mystery! The mummy, nicknamed Otzi (OOT-zee), is one of the oldest mummies ever found.</p>

	<p>He wears a cape and leather shoes. But when scientist took a closer look at Otzi's body, they found a surprise. A stone arrowhead was stuck in his shoulder. Otzi had been shot in the back! Who killed Otzi over five thousand years ago? So far the case has gone cold!</p>

	<div id="Otzu">
		<p>Otzi as he might have looked.</p>
		<img></img>
	</div>


	
